<!-- Styling -->
    <link rel="stylesheet" href="gadget.css" type="text/css" />
    <!-- jQuery 1.5 -->
    <script type="text/javascript" src="../jquery.min.js"></script>
    <!-- Finesse Library -->
    <script type="text/javascript" src="../finesse.js"></script>

    <!-- EIM WIM Server URL -->
    <script type="text/javascript" src="config.js"></script>

    <!-- Gadget Business Logic -->
    <script type="text/javascript" src="gadget.js"></script>

    <body>
        <div id="displayOut"></div>
    </body>

    <script type="text/javascript">
        // initialize the gadget running the init handler defined in CIM.js
        gadgets.HubSettings.onConnect = function () {
		finesse.modules.CIMGadget.init(egain_server_url);
         

    };
    </script>

